<footer class="app-footer">
    <div class="container">
        <div class="footer-wrapper">
            <!-- Copyright Section -->
            <h4 class="copyright">© Bank of Old Town 2015</h4>
            <!-- Footer Navigation -->
            <nav class="footer-nav">
                <ul>
                    <li><a href="/#/">Start</a></li>
                    <li><a href="/#/account">My account</a></li>
                    <li><a href="/#/about">About us</a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>
