<header class="app-header">
    <div class="container">
        <div class="header-wrapper">
            <!-- Logo -->
            <div class="logo">
                <a href="/">
                    <img src="images/bank-icon.png" alt="Bank" />
                </a>
            </div>
            <!-- Main-Nav -->
            <nav class="app-nav" id="app-nav">
                <ul>
                    <li><a href="#">Start</a></li>
                    <li><a href="#">My account</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
