<div  ng-controller="HeaderCtrl"
  <header class="app-header">
      <div class="container">
          <div class="header-wrapper">
              <!-- Logo -->
              <div class="logo">
                  <a href="/#/">
                      <img src="images/bank-icon.png" alt="Bank" />
                  </a>
              </div>
              <!-- Main-Nav -->
              <nav class="app-nav" id="app-nav">
                  <ul>
                      <li ng-repeat="item in items">
                        <a ng-href="/#{{item.href}}" ng-bind="item.name"></a>
                      </li>
                  </ul>
              </nav>
          </div>
      </div>
  </header>

  <!-- Scroll to top icon-->
  <a class="icon-border scroll-top" href="#site-content">
      <i class="fa fa-angle-up"></i>
  </a>

  <flyout items="items"></flyout>
</div>
